:root { --color-text: #343434; --color-background: white; --color-link: #4483ce; --color-link-active: #245288; --font-family-body: "Roboto", sans-serif; --font-family-head: "Roboto Condensed", sans-serif; --font-weight-body: 400; --font-weight-head: 700; --font-size-body: 14px; --font-size-h1: 3.5rem; --font-size-h2: 2rem; --font-size-h3: 1.5rem; --font-size-h4: 1.25rem; --font-size-h5: 14px; --font-size-h6: 0.875rem; --font-leading-body: 1.428571429; --font-leading-head: 1.3333333; }

*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

html { position: relative; min-height: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 14px; font-size: var(--font-size-body); }

@media (min-width: 75rem) { html { font-size: 16px; } }

body { margin: 0; padding: 0; font-smooth: always; font-smoothing: antialiased; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: "Roboto", sans-serif; font-family: var(--font-family-body); line-height: 1.428571429; line-height: var(--font-leading-body); background-color: white; background-color: var(--color-background); color: var(--color-text); }

a { cursor: pointer; text-decoration: none; color: #4483ce; color: var(--color-link); }

a:hover, a:focus, a:active { color: #245288; color: var(--color-link-active); }

hr { background-color: #f6f6f6; border: 0; display: block; height: 0.125rem; margin-bottom: 2rem; margin-top: 2rem; }

img { display: block; height: auto; position: relative; text-align: center; max-width: 100%; height: auto; }

img:before, img:after { display: block; }

img:before { content: "We're sorry, this image could not be found"; }

img:after { content: "(url: " attr(src) ")"; }

article, aside, section, header, footer { display: block; }

blockquote { display: block; width: 100%; margin: 0; padding: 0; }

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-device-width: 1024px) { input, select, textarea { font-size: 14px; }
  input:focus, select:focus, textarea:focus { font-size: 14px; } }

h1, h2, h3, h4, h5, h6 { line-height: 1.1; font-family: "Roboto Condensed", sans-serif; font-family: var(--font-family-head); font-weight: 700; font-weight: var(--font-weight-head); }

h1 { font-size: 3.5rem; font-size: var(--font-size-h1); }

h2 { font-size: 2rem; font-size: var(--font-size-h2); }

h3 { font-size: 1.5rem; font-size: var(--font-size-h3); }

h4 { font-size: 1.25rem; font-size: var(--font-size-h4); }

h5 { font-size: 14px; font-size: var(--font-size-h5); }

h6 { font-size: 0.875rem; font-size: var(--font-size-h6); }

label { font-weight: 500; }

.txt-underline { text-decoration: underline; }

.txt-semibold { font-weight: 500; }

.txt-ucase { text-transform: uppercase; }

.txt-read { max-width: 60rem; }

.txt-brand { color: #4483ce; }

.txt-large { font-size: 3rem; line-height: 1; font-weight: 700; }

.txt-medium { font-size: 1.5rem; line-height: 1.2; }

.icon-stroke { stroke: currentColor; }

.icon-fill { fill: currentColor; }

.icon-sm { width: 1rem; height: 1rem; }

.icon-md { width: 3rem; height: 3rem; }

.icon-lg { width: 4rem; height: 4rem; }

.sr-only { position: absolute; margin: -1px; border: 0; padding: 0; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); text-transform: none; }

.site-header { background: black; color: white; }

.site-footer { background: #343434; color: white; position: relative; }

.video-container { height: 0; overflow: hidden; position: relative; padding-bottom: 56.25%; }

.video-container iframe { height: 100%; left: 0; position: absolute; top: 0; width: 100%; }

.btn { -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-image: none; border: 0; cursor: pointer; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; font-size: 1rem; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0; min-height: 2.5rem; padding: 0 1rem; text-align: center; text-transform: uppercase; -ms-touch-action: manipulation; touch-action: manipulation; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; vertical-align: middle; white-space: nowrap; font-weight: 700; }

button { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; border: 0; }

.btn-back { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; font-size: 0.8rem; margin-bottom: 2rem; text-transform: uppercase; -webkit-transition: all 0.15s; transition: all 0.15s; font-weight: 700; }

.btn-back svg { margin-right: 0.5rem; -webkit-transition: all 0.15s; transition: all 0.15s; }

.btn-back:hover svg, .btn-back:focus svg { -webkit-animation: bounce-left 0.5s forwards; animation: bounce-left 0.5s forwards; }

.btn-forward { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; font-size: 0.8rem; padding-left: 0; padding-right: 0; text-transform: uppercase; font-weight: 700; }

.btn-forward svg { height: 1rem; margin-left: 0.5rem; width: 1rem; }

.input-text { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: white; font-size: 0.9rem; border: 0; border-radius: 0; line-height: 1; min-height: 2rem; padding: 0.25rem 0.5rem; width: 100%; }

.input-text.medium { min-height: 2.5rem; }

.input-text.large { min-height: 2.5rem; }

.radio-block { display: -webkit-box; display: -ms-flexbox; display: flex; padding-top: 0.0625rem; position: relative; margin-bottom: 0.5rem; }

.radio-block:hover .radio { border-color: white; }

.radio-block input[type=radio]:checked ~ .radio { border: 0.2rem solid #81abde; }

.radio-block input[type=radio]:checked ~ .radio::before { background: #81abde; }

.radio-block input[type=radio]:checked ~ label { color: #81abde; }

.radio { display: block; border: 0.2rem solid white; border-radius: 100%; height: 1.8rem; left: 0; margin: 0; position: absolute; top: 0; -webkit-transition: border .25s linear; transition: border .25s linear; width: 1.8rem; z-index: 5; }

.radio::before { border-radius: 100%; content: ''; display: block; height: 0.9rem; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transition: background 0.15s linear; transition: background 0.15s linear; width: 0.9rem; }

.radio-label { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; height: 2.5rem; margin: 0; padding-left: 2.3rem; position: relative; z-index: 5; }

.input-horizontal { margin-bottom: 1rem; position: relative; }

@media (min-width: 48rem) { .input-horizontal { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .input-horizontal > label { line-height: 1.2; padding-right: 2rem; width: 10rem; }
  .input-horizontal input, .input-horizontal select, .input-horizontal textarea { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; } }

.input-horizontal label.error { margin-left: 10rem; }

.input-horizontal .req { color: #e24f44; left: -1rem; position: absolute; }

.table-default { border-collapse: collapse; width: 100%; }

@media (max-width: 48rem) { .table-default thead { display: none; } }

.table-default thead > tr th { font-weight: 500; font-size: 14px; position: relative; text-transform: uppercase; }

.table-default thead > tr th:not(:first-of-type) { border-left: 0.0625rem solid #c3c3c3; }

.table-default thead > tr th:not(:last-of-type) { border-right: 0.0625rem solid #c3c3c3; }

.table-default tbody > tr td { color: #999999; padding: 0.5rem 1rem; vertical-align: top; }

.table-default.table-striped tbody tr:nth-of-type(odd) { background: rgba(0, 0, 0, 0.025); }

.table-default .name { font-weight: 500; }

@media screen and (max-width: 47.9375rem) { .table-default { border: 0; }
  .table-default thead { display: none; }
  .table-default tr { background: white; border: 0.0625rem solid #c3c3c3; display: block; margin-bottom: 1rem; }
  .table-default td { border-bottom: 0.0625rem solid #c3c3c3; border-top: 0 !important; font-size: 14px; text-align: right; }
  .table-default td:last-child { border-bottom: 0; }
  .table-default td:before { content: attr(data-label); float: left; text-transform: uppercase; }
  .table-default tbody td, .table-default tbody th { display: block !important; } }

/*
Generated from /scss/main.scss on:
2018-07-10T15:58:40Z
*/
