.btn-#{$framework-prefix} {
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: $gap-xs $gap-sm;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @include font-semibold;
}

.btn-back,.btn-forward {
  align-items: center;
  display: inline-flex;
  font-size: 0.8rem;
  margin-bottom: $gap;
  text-transform: uppercase;
  transition: all 0.15s;
  @include font-bold;
  svg {
    transition: all 0.15s;
    width: $gap-sm;
    height: $gap-sm;
  }
}

.btn-back {
  svg {
    margin-right: $gap-xs;
  }
  &:hover,&:focus {
    svg {
      animation: bounce-left 0.5s forwards;
    }
  }
}

.btn-forward {
  svg {
    margin-left: $gap-xs;
  }
  &:hover,&:focus {
    svg {
      animation: bounce-right 0.5s forwards;
    }
  }
}

