//-- Text Helpers
.txt-underline {
  text-decoration: underline;
}
.txt-semibold {
  @include font-semibold;
}
.txt-ucase {
  text-transform: uppercase;
}
.txt-read {
  max-width: 60rem;
}
.txt-brand {
  color: $brand-primary;
}
.txt-large {
  font-size: 3rem;
  line-height: 1;
  @include font-bold;
}
.txt-medium {
  font-size: 1.5rem;
  line-height: 1.2;
}

.sr-only {
  @include sr-only;
}
