.icon-stroke {
  stroke: currentColor;
}
.icon-fill {
  fill: currentColor;
}
.icon-sm {
  width: $gap-sm;
  height: $gap-sm;
}
.icon-md {
  width: $gap-md;
  height: $gap-md;
}
.icon-lg {
  width: $gap-lg;
  height: $gap-lg;
}
