.table-default {
  border-collapse: collapse;
  width: 100%;
  tr {
    @media (max-width:$screen-sm-min) {
      border: 1px solid $border-default;
      display: block;
      margin-bottom: $gap-sm;
    }
  }
  thead {
    @media (max-width:$screen-sm-min) {
      display: none;
    }
    th {
      font-size: .9rem;
      position: relative;
      text-transform: uppercase;
      @include font-semibold;
      &:not(:first-of-type){
        border-left: 1px solid $border-default;
      }
      &:not(:last-of-type) {
        border-right: 1px solid $border-default;
      }
    }
  }
  tbody {
    td {
      color: $gray-md;
      padding: $gap-xs $gap-sm;
      vertical-align: top;
      @media (max-width: $screen-sm-min) {
        border-bottom: 1px solid $border-default;
        border-top: 0 !important;
        display: block !important;
        text-align: right;
        &:last-child {
          border-bottom: 0;
        }
        &::before {
          content: attr(data-label);
          float: left;
          text-transform: uppercase;
        }
      }
      &:first-of-type {
        position: relative;
        text-align: left;
        &::before {
          display: block;
          float: none;
        }
      }
    }
  }
  &.table-striped tbody {
    tr:nth-of-type(odd) td {
      background:rgba(black,0.025);
    }
  }
}



