.table-default {
  width:100%;
  border-collapse:collapse;
  tr {
    @media (max-width:$screen-sm-min) {
      margin-bottom: $gap-sm;
      display: block;
      border:1px solid $border-default;
    }
  }
  thead {
    @media (max-width:$screen-sm-min) {
      display:none;
    }
    th {
      @include font-semibold;
      font-size:0.9rem;
      text-transform:uppercase;
      position:relative;
      &:not(:first-of-type){
        border-left:1px solid $border-default;
      }
      &:not(:last-of-type) {
        border-right:1px solid $border-default;
      }
    }
  }
  tbody {
    td {
      padding:$gap-xs $gap-sm;
      vertical-align:top;
      color:$gray-md;
      @media (max-width:$screen-sm-min) {
        display:block !important;
        text-align: right;
        border-bottom: 1px solid $border-default;
        border-top:0 !important;
        &:last-child {
          border-bottom: 0;
        }
        &::before {
          content: attr(data-label);
          float: left;
          text-transform: uppercase;
        }
      }
      &:first-of-type {
        text-align: left;
        position: relative;
        &::before {
          display: block;
          float: none;
        }
      }
    }
  }
  &.table-striped tbody {
    tr:nth-of-type(odd) td {
      background:rgba(black,0.025);
    }
  }
}



