@mixin font-regular {
  font-weight: $font-weight-regular;
}
@mixin font-light {
  font-weight: $font-weight-light;
}
@mixin font-semibold {
  font-weight: $font-weight-semibold;
}
@mixin font-bold {
  font-weight: $font-weight-bold;
}
